##<b>DAY 9: ASSIGNMENT 8 (Multiple Linear Regression)

##<b>DATE: 4 JUNE 2021

##AUTHOR: AAMIR P</b>

##REG. ID.: GO_STP_7724</b>

**Task- Predicting a Startups Profit/Success Rate using Multiple Linear Regression**

**Here 50 startups dataset containing 5 columns  like “R&D Spend”, “Administration”, “Marketing Spend”, “State”, “Profit”.**

**In this dataset first 3 columns provides you spending on Research , Administration and Marketing respectively. State indicates startup based on that state. Profit indicates how much profits earned by a startup.**

**Clearly, we can understand that it is a multiple linear regression problem, as the independent variables are more than one.**

**Prepare a prediction model for profit of 50_Startups data in Python**

In [1]:
#Libraries
import numpy as np
import pandas as pd

In [2]:
#Read the dataset
df=pd.read_csv("/content/50_Startups.csv")

In [3]:
#Let' have a look of the first 5 data
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [8]:
#As per the question we need the first 3 columns
x=df.drop(['State','Profit'],axis=1) #axis 1 indicates columns
x

    R&D Spend  Administration  Marketing Spend
0   165349.20       136897.80        471784.10
1   162597.70       151377.59        443898.53
2   153441.51       101145.55        407934.54
3   144372.41       118671.85        383199.62
4   142107.34        91391.77        366168.42
5   131876.90        99814.71        362861.36
6   134615.46       147198.87        127716.82
7   130298.13       145530.06        323876.68
8   120542.52       148718.95        311613.29
9   123334.88       108679.17        304981.62
10  101913.08       110594.11        229160.95
11  100671.96        91790.61        249744.55
12   93863.75       127320.38        249839.44
13   91992.39       135495.07        252664.93
14  119943.24       156547.42        256512.92
15  114523.61       122616.84        261776.23
16   78013.11       121597.55        264346.06
17   94657.16       145077.58        282574.31
18   91749.16       114175.79        294919.57
19   86419.70       153514.11             0.00
20   76253.86       113867.30        298664.47
21   78389.47       153773.43        299737.29
22   73994.56       122782.75        303319.26
23   67532.53       105751.03        304768.73
24   77044.01        99281.34        140574.81
25   64664.71       139553.16        137962.62
26   75328.87       144135.98        134050.07
27   72107.60       127864.55        353183.81
28   66051.52       182645.56        118148.20
29   65605.48       153032.06        107138.38
30   61994.48       115641.28         91131.24
31   61136.38       152701.92         88218.23
32   63408.86       129219.61         46085.25
33   55493.95       103057.49        214634.81
34   46426.07       157693.92        210797.67
35   46014.02        85047.44        205517.64
36   28663.76       127056.21        201126.82
37   44069.95        51283.14        197029.42
38   20229.59        65947.93        185265.10
39   38558.51        82982.09        174999.30
40   28754.33       118546.05        172795.67
41   27892.92        84710.77        164470.71
42   23640.93        96189.63        148001.11
43   15505.73       127382.30         35534.17
44   22177.74       154806.14         28334.72
45    1000.23       124153.04          1903.93
46    1315.46       115816.21        297114.46
47       0.00       135426.92             0.00
48     542.05        51743.15             0.00
49       0.00       116983.80         45173.06

In [9]:
#assigning new variable for profits
y=df['Profit']
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

<b>Multi Linear Regression is a regression model that estimates the relationship between a quantitative dependent variable and two or more independent variables using a straight line.

In [10]:
#Here y is dependent
#Model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.30, random_state=5)
lm=LinearRegression()
lm.fit(x_train,y_train)
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
y_predict= (y_test)
y_predict

42     71498.49
29    101004.64
6     156122.51
19    122776.86
28    103282.38
17    125370.37
2     191050.39
43     69758.98
3     182901.99
21    111313.02
31     97483.56
4     166187.94
32     97427.84
0     192261.83
23    108733.99
Name: Profit, dtype: float64

In [11]:
#Mean Square Error
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_predict)
mse

0.0

In [12]:
# R2 score is used to evaluate the performance of a linear regression model.
from sklearn.metrics import r2_score
print("accuracy is: ", r2_score(y_test,y_predict))

accuracy is:  1.0